<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h3 class="mb-3">Registro civil</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="" class="row g-4">
                                        <div class="col-12">
                                            <label>Usuario<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <!-- <div class="input-group-text"><i class="bi bi-person-fill"></i></div> -->
                                                <input type="text" class="form-control" name="usrname" [(ngModel)]="username" placeholder="Nombre de usuario">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label>Contraseña<span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <!-- <div class="input-group-text"><i class="bi bi-lock-fill"></i></div> -->
                                                <input type="text" class="form-control" name="pass" [(ngModel)]="password" placeholder="Contraseña">
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary px-4 float-end mt-4" (click)="login()">Entrar</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-bootstrap"></i>
                                <h2 class="fs-1">INTELICOM</h2>
                                <div *ngIf='warnFlag==true' class="col-12">
                                            
                                    <div  class="alert alert-danger" role="alert">
                                        {{warnMessage}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-end text-secondary mt-3">Inside Tech - Dev</p>
            </div>
        </div>
    </div>
</div>